.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    padding: 20px;
    border-radius: 12px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .left{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.posts .post .right {
    display: flex;
    gap: 10px;
}

.post .right button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background-color: white;
    color: black;
}

.post .right button:active{
    opacity: 0.5;
}